.App {
  text-align: center;
}
input[type="text"],
input[type="password"] {
  border: 1px gray solid;
  word-break: break-all;
  border-radius: 6px;
  padding: 6px 8px;
  border: none;
  outline: none;
  font-size: small;
}

input[type="tel"] {
  border: 1px gray solid;
  word-break: break-all;
  border-radius: 6px;
  padding: 3px 4px;
}
:disabled {
  color: rgb(171, 170, 170);
  background-color: white;
}
option{
  font-size: small;
  border-bottom: gray 1px solid ;
}
/* .selopt option{
border: red 2px solid !important;
} */
/* button {
  background-color: #3b82f6;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
} */


